<div class="modal-body">
  <form>
    <section class='field'>
      <section class='field-item'>
        <label>{{i18n "community.field.name"}}</label>
        {{text-field value=controller.name placeholderKey="community.placeholder.name" maxlength="50"}}
      </section>
      <section class='field-item'>
        <label>{{i18n "community.field.slug"}}</label>
        {{text-field value=controller.slug placeholderKey="community.placeholder.slug" maxlength="255"}}
      </section>
    </section>

    <section class='field'>
      <label>{{i18n "community.field.description"}}</label>
      {{textarea value=controller.description}}
    </section>
  </form>
</div>
<div class="modal-footer community-hub-footer">
  {{d-button class="btn-primary" action="new" icon="plus" label="community.create.button"}}
</div>
